{% block styles %}
	{% include "@Infra/ded/styles.twig" %}
{% endblock %}

{% if _errors is defined %}
	<button
			type="button"
			class="debug-button"
			data-bs-toggle="modal"
			data-bs-target="#debug_ded_kiss"
			aria-label="Open debugger"
			title="Open debugger"
		>
			<span>!</span>
	</button>

	<div
		class="modal"
		id="debug_ded_kiss"
		tabindex="-1"
		aria-hidden="true"
	>
		<dialog class="debug-modal-dialog">
			<div class="debug-modal">
				<div class="debug-modal-header">
					<button
						type="button"
						class="btn-close btn-close-white"
						data-bs-dismiss="modal"
						aria-label="Close"
						title="Close debugger"
					></button>
				</div>
				<div class="debug-modal-body">
					{% for _error in _errors %}
						<section class="error-section">
							<header>
								<span class="error-title">
									{{ _error.title }}
								</span>
								<span class="error-message">
									Message:
									{{ _error.message }}
								</span>
							</header>
							<div>
								{% include '@Infra/DED/source-code.twig' %}
								{% include '@Infra/DED/stack-trace.twig' %}
							</div>
						</section>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{% block scripts %}
		<script>

		</script>
	{% endblock %}
{% endif %}
