{% if _errors is defined %}
	<dialog id='debug_ded_kiss' class='modal d-block' tabindex="-1">
		<div class="modal-dialog modal-lg modal-dialog-centered">

			<div class="modal-content">
				<header class="modal-header">
					<h2 class="modal-title">Debug</h2>
					<button type="button" class="btn-close" onclick='debug_ded_kiss.close()'></button>
				</header>
				
				<div class="modal-body">
					{% for _error in _errors %}
						<section class='mb-4'>
							<header>
								<h2 class='h5'>{{ _error.title }}</h2>
								<span class='text-danger'>
									<strong>Message:</strong> {{ _error.message }}
								</span>
							</header>
								<div>
									{% include '@Infra/DED/source-code.twig' %}
									{% include '@Infra/DED/stack-trace.twig' %}
								</div>
						</section>
					{% endfor %}
				</div>
			</div>

		</div>
	</dialog>

	{% block scripts %}
		<script src='/assets/js/copyToClipboard.js'></script>
		<script>
			window.addEventListener('DOMContentLoaded', function() {
				document.getElementById('debug_ded_kiss').showModal();
			});
		</script>
	{% endblock %}
{% endif %}