{% include "@Infra/DED/styles.twig" %}

{% if _errors is defined %}
	<button
			type="button"
			class="debug-button"
			aria-label="Open debugger"
			title="Open debugger"
			onclick="debug_ded_modal.showModal()"
		>
			<span>!</span>
	</button>


	<dialog id="debug_ded_modal" class="debug-modal-dialog">
		<div class="debug-modal">
			<div class="debug-modal-header">
				<button
					type="button"
					class="close-debug-button"
					aria-label="Close"
					onclick="debug_ded_modal.close()"
					title="Close debugger"
				></button>
			</div>

			<div class="debug-modal-body">
				{% for _error in _errors %}
					<section class="error-section">
						<header class="error-section-header">
							<span class="error-title">
								{{ _error.title }}
							</span>
							<span class="error-message">
								Message:
								{{ _error.message }}
							</span>
						</header>
						<div>
							{% include '@Infra/DED/source-code.twig' %}
							{% include '@Infra/DED/stack-trace.twig' %}
						</div>
					</section>
				{% endfor %}
			</div>
		</div>
	</dialog>
{% endif %}
