<div class="code-card">
	<header class="card-header">
		<h5 class="card-title text-nowrap d-none d-md-block">
			Source code
		</h5>

		<span class="text-monospace">
			File: '{{ _error.where.file }}' on line ({{ _error.where.line }})
		</span>

		{% set idOfElementToCopy = 'source_code_snippet' %}
		{% include "@infra/DED/copy-to-clipboard.twig" with { idOfElementToCopy } %}
	</header>
	
	<div class="card-body">
		{% include "@Infra/DED/code-snippet.twig" with { idOfElementToCopy } %}
	</div>
</div>
