<div class="card bg-black mb-3 text-light text-opacity-75 border-secondary border-opacity-50 overflow-hidden">
	<header class="card-header border-bottom border-secondary d-flex justify-content-between align-items-center">
		<h5 class="card-title mb-0 text-nowrap d-none d-md-block">
			Source code
		</h5>

		<span class="small text-secondary">
			File: '{{ _error.where.file }}' on line ({{ _error.where.line }})
		</span>

		{% set idOfElementToCopy = 'source_code_snippet' %}
		{% include "@infra/DED/copy-to-clipboard.twig" with { idOfElementToCopy } %}
	</header>
	
	<div class="card-body bg-black p-0">
		{% include "@Infra/DED/code-snippet.twig" with { idOfElementToCopy } %}
	</div>
</div>
