.code-line, .error-line {
  display: flex;
  font-family: var(--mono-font);
  white-space: pre;
  padding: 0 16px;
}

.line-number {
  color: var(--light-gray);
  margin-right: var(--spacing-xl);
  user-select: none;
  min-width: 50px;
  margin-left: 20px;
}

.line-content {
  color: var(--light-text);
}

.error-line {
  background: rgba(244, 67, 54, 0.2);
  border-left: 8px solid var(--error-red);

  & > .line-content {
    color: var(--code-text);
    font-weight: 600;
  }
}