{% extends 'root.layout.twig' %}
{% import 'Components/input.twig' as form %}

{% block content %}
	<div class="d-flex justify-content-center align-items-center">
		<form method='POST'>
			<h1>Login</h1>
			
			{{ form.input(
				type: 'email',
				id: 'email',
				label: 'E-mail',
				required: true,
				value: user.email
			) }}
			{{ form.input(
				type: 'password',
				id: 'password',
				label: 'Senha',
				required: true,
				value: user.password
			) }}
		
			{% if flashMessage %}
				<span>{{ flashMessage.message }}</span>
			{% endif %}
		
			<button class="btn btn-primary w-100" type='submit'>Entrar</button>
		</form>
	</div>
{% endblock %}