{% extends 'root.layout.twig' %}
{% import 'Components/input.twig' as form %}

{% block content %}
	<div class="d-flex justify-content-center align-items-center vh-100">
		<form method='POST'>
			
			{{ form.input(
				type: 'email',
				id: 'email',
				label: 'E-mail',
				required: true,
				value: user.email,
				error: getInputError('email')
			) }}

			{{ form.input(
				type: 'password',
				id: 'password',
				label: 'Senha',
				required: true,
				value: user.password,
				error: getInputError('password')
			) }}
			
			{{ form.input(
				id: 'zipcode',
				label: 'Zip Code',
				required: true,
				error: getInputError('zipcode')
			) }}
		
			<button class="btn btn-primary w-100 mt-3" type='submit'>Entrar</button>
		</form>
	</div>
{% endblock %}